<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Registration">
    <test name="SetUp">
        <classes>
            <class name="Autotests.Settings.SetUpTests"/>
        </classes>
    </test>

    <test name="RegistrationWithValidData">
        <classes>
            <class name="Autotests.SuiteRegistration.TestRegistrationWithValidData"/>
        </classes>
    </test>

    <test name="TearDown">
        <classes>
            <class name="Autotests.Settings.TearDownTests"/>
        </classes>
    </test>
</suite>