<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Privacy Policy</title>
    <meta name="description" content="Privacy Policy" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      body {
        background-color: lightgray;
      }
    </style>
  </head>
  <body>
    <h1>Privacy Policy</h1>
    <ol>
      <li>
        General
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          lobortis tellus a mattis fermentum. Donec vehicula, lorem sit amet
          suscipit lobortis, est ligula rhoncus augue, et elementum lectus
          turpis quis risus. Nam in metus id risus sagittis malesuada a
          tincidunt ex. Nunc eget mauris orci. Ut varius non turpis sed
          dignissim. Nulla vel ante lacinia, feugiat est tempus, tempor lacus.
          Curabitur justo sapien, eleifend non lacinia quis, venenatis in ante.
          Aenean et ex sem. Praesent a luctus lectus, id imperdiet sapien.
          Vivamus sit amet sollicitudin purus, nec vehicula nisi. Phasellus
          pretium sodales urna, quis auctor felis.
        </p>
      </li>
      <li>
        Confidentiality of personal data
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          lobortis tellus a mattis fermentum. Donec vehicula, lorem sit amet
          suscipit lobortis, est ligula rhoncus augue, et elementum lectus
          turpis quis risus. Nam in metus id risus sagittis malesuada a
          tincidunt ex. Nunc eget mauris orci. Ut varius non turpis sed
          dignissim. Nulla vel ante lacinia, feugiat est tempus, tempor lacus.
          Curabitur justo sapien, eleifend non lacinia quis, venenatis in ante.
          Aenean et ex sem. Praesent a luctus lectus, id imperdiet sapien.
          Vivamus sit amet sollicitudin purus, nec vehicula nisi. Phasellus
          pretium sodales urna, quis auctor felis.
        </p>
      </li>
      <li>
        Additional conditions
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          lobortis tellus a mattis fermentum. Donec vehicula, lorem sit amet
          suscipit lobortis, est ligula rhoncus augue, et elementum lectus
          turpis quis risus. Nam in metus id risus sagittis malesuada a
          tincidunt ex. Nunc eget mauris orci. Ut varius non turpis sed
          dignissim. Nulla vel ante lacinia, feugiat est tempus, tempor lacus.
          Curabitur justo sapien, eleifend non lacinia quis, venenatis in ante.
          Aenean et ex sem. Praesent a luctus lectus, id imperdiet sapien.
          Vivamus sit amet sollicitudin purus, nec vehicula nisi. Phasellus
          pretium sodales urna, quis auctor felis.
        </p>
      </li>
    </ol>
  </body>
</html>
